.carousel-caption {
    border-radius: 8%;
    background-color: #000000a8;
}

#carouselExampleCaptions {
    width: 50vw;

    @include breakpointMd {
        width: 100%;
    }

    .carousel-caption {
        @include breakpointMd {
            padding-top: 0.25rem !important;
            padding-bottom: 0 !important;
        }
    }
}