#carouselExampleCaptions {
    width: 50vw;

    @include breakpointMd {
        width: 100%;
    }

    .carousel-inner {
        transition: transform 200ms ease-in, box-shadow 200ms ease-in;
        border-radius: 8px;


        &:hover {
            transform: scale(1.04);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
    }

    .carousel-caption {
        border-radius: 8%;
        background-color: #000000a8;

        @include breakpointMd {
            padding-top: 0.25rem !important;
            padding-bottom: 0 !important;
        }


    }
}

#filtersBtns {

    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;

    .displayMe {
        height: 200px;
    }
}

.card {
    flex-basis: calc(33.33% - 10px);
    align-self: center;
    margin: 5px;

    @include breakpointMd {
        flex-basis: 100%;
    }
}

td {
    a {
        cursor: pointer;
    }
}